.d-flex{
    width: 60%;
    margin-top: 20px;
}
main{
    margin-top: 150px;
}
.nos_cat{
    margin: 20px;
    color: rgba(247, 121, 3, 0.829);
}

#souk{
    color: blue;
    font-size: 40px ;
    
    margin-left: 20px;

}
.sou_cat{
    margin: 10px;
    border: solid 1px rgb(223, 204, 119);
    padding: 10px;
    text-align: center;
    width: 200px;

}

.col, .col-xl{

    margin: 5px;
    border: solid 1px rgb(224, 193, 52);
    padding: 10px; 
    
}
.homme{
    margin: 5px;
    width: 350px;
}
#vetements{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.button{
    background-color: white;
    border: none;
    
}

#navUl>li>a{
 
    color:rgb(12, 56, 187);
    margin: 10px;
    font-size: 20px;

}

#article1{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

form{

    margin-bottom: 20px;
}
footer{
    background-color: orange;
    margin-top: 50px;

}

#footer{

    display: flex;
    flex-direction: row;
 
    justify-content: space-around;
    padding: 50px;

}


#footer>ul>li{
    list-style: none;
    margin: 10px;
    color: blue ;
}